body {
	font-family: Arial, sans-serif;
}

#background-gradient {
	background-image: linear-gradient(#deefe9, #f2f9f6);
	height: 370px;
}

b {
	font-weight: bold;
}

a:link {
  text-decoration: none;
  color: black;
}



header, form, footer {
	position: relative;
	top: -370px;
  width: 50%;
	margin: 0 auto;
}


header {
	height: 110px;
}

header img {
	position: absolute;
	width: 185px;
}

header ul {
	float: right;
	position: relative;
	top: 80px;
}

header li {
	display: inline;
}

header li:last-child:before {
	content: " | ";
}

#login:hover {
  color: #9edacb;
}



form {
	height: 720px;
	background-color: white;
	border: 1px solid black;
}

footer {
	height: 180px;
}
