#background-gradient {
	background-image: linear-gradient(#deefe9, #f2f9f6);
	height: 370px;
}

header {
	height: 110px;
}

form {
	height: 720px;
	background-color: white;
}

footer {
	height: 180px;
}

header, form, footer {
	position: relative;
	top: -370px;
  width: 50%;
	margin: 0 auto;

	/*temp just to see the sections*/
	border: 2px solid black;
}

